<h1 class="display-5 text-center">Bienvenido, {{user.first_name}}</h1>
<br>

    <div class="row">
        {{#each data.docs}}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.description}}</h6>
                <p class="card-text">${{this.price}}</p>
                <a href="/products/{{this._id}}" class="card-link">Leer más</a>
                <a href="#" class="card-link">Agregar al carrito</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div>
        {{#if data.hasPrevPage}}
            <a href="{{data.prevLink}}" style="border: 1px solid black; border-radius:4px; padding:4px">{{data.prevPage}}</a>
        {{/if}}
        Página <b>{{data.page}}</b>
        {{#if data.hasNextPage}}
            <a href="{{data.nextLink}}" style="border: 1px solid black; border-radius:4px; padding:4px">{{data.nextPage}}</a>
        {{/if}}
    </div>

    <a href="/session/profile">Mi Perfil</a>