<h1>Mi Perfil</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
    <p class="card-text">Edad: {{user.age}}</p>
    <p class="card-text">Rol: {{user.rol}}</p>
    <a href="/session/logout" class="card-link">Cerrar sesión</a>
  </div>
</div>